body {
  padding: 0;
  margin: 0;
  background: linear-gradient(-45deg,#272424,#352c2f,#153541,#20493d) no-repeat;
  height: 100vh;
  color: rgb(194, 196, 199);
  width: 100vw;
  background-size: 133vw 165vh;
}

#input-container {
  display: flex;
  width: 200vh;
}

.mb-3 {
  width: 500px;
  height: 35px;
}

.select-input {
  width: 500px;
  height: 35px;
}

#button-filter {
  height: 35px;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

th {
  border: 1px solid rgb(155, 156, 57);
}

td {
  border: 1px solid rgb(155, 156, 57);
}
