body {
  padding: 0;
  margin: 0;
  background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
  height: 100vh;
  color: #A7CCED;
  width: 100vw;
  background-size: 133vw 165vh;
  animation: gradient 300s ease-in-out infinite;
}

#logo-container {
  width: 1343px;
  display: flex;
  justify-content: center;
}

@keyframes gradient{
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  
  100% {
    background-position: 0% 50%;
  }
}

#nave-starwars-1 {
  width: 200px;
  opacity: 0.35;
  animation-name: fly;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fly {
  100% {
    transform: translateX(calc(100vw - 200px));
  }
}

#input-container {
  display: flex;
  width: 1343px;
}

.mb-3 {
  width: 500px;
  height: 35px;
}

.select-input {
  width: 500px;
  height: 35px;
}

#button-filter {
  height: 35px;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

table {
  margin-left: 10px;
}

th {
  border: 1px solid #63ADF2;
  background: #A7CCED;
  color: black;
  text-align: center;
  padding: 5px;
}

td {
  border: 1px solid #63ADF2;
  text-align: center;
}

#number-filter-container {
  display: flex;
  width: 355px;
  gap: 10px;
  /* margin-top: 20px; */
}

@media (max-width: 920px) {
  body {
    background-size: 260vw 260vh;
    background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
  }

  /* .img-responsive {
    width: 200px;
    margin-left: 47px;
  } */

  #logo-container img {
    width: auto;
    height: 100px;
    height: 50px;
  }

  #input-container {
    display: flex;
    flex-wrap: wrap;
    width: 280px;
    margin-bottom: 20px;
    margin-left: 90px;
  }

  th {
    font-size: 8px;
  }

  td {
    font-size: 8px;
  }
}